.station-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

@media screen and (max-width: 800px) {
  .station-card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .station-card-list {
    grid-template-columns: 1fr;
  }
}
